.vs/
EShop/bin/
EShop/obj/
*.mdf
*.ldf
*.ndf

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
EShop/App_Data/*.ldf
/BLL/bin/Debug
/BLL/obj
/DAL/bin/Debug
/DAL/obj
/DOL/bin/Debug
/DOL/obj/Debug
/DOL/obj/Release
/DAL_API/bin/Debug
/DAL_API/obj/Debug
/BLL_API/bin/Debug
/BLL_API/obj/Debug
