.vs/
EShop/bin/
EShop/obj/
*.mdf
*.ldf
*.ndf

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
EShop/App_Data/*.ldf
/BLL/bin/
/BLL/obj/
/DAL/bin/
/DAL/obj/
/DOL/bin/
/DOL/obj/
/DAL_API/bin/
/DAL_API/obj/
/BLL_API/bin/
/BLL_API/obj/

/EShop/Uploads
/EShop/Content/Downloads/ExportedItems
/EShop/Logs
