@{
    var customer = Session["Account"] as DOL.Accounts.Account;
}

@if (Session["Account"] == null)
{
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Customer", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Customer", new { area = "" }, new { @class = "nav-link" })
    </li>
}
else
{
    //TODO this won't work in admin
    <li class="nav-item">
        @Html.ActionLink(customer.Email, "Index", "Customer", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Logout", "Logout", "Customer", new { area = "" }, new { @class = "nav-link" })
    </li>
}
