<style>
    .flex-no-grow {
        flex-grow: 0;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    @Html.ActionLink("Duck shop", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })

    <div class="ml-auto">
        <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index","Cart")'">
            <img src="~/Content/Images/cartIcon.jpg" height="40" width="40" />
            <span class="badge badge-secondary badge-pill">@Session["Count"]</span>
        </button>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse flex-no-grow" id="navbarColor01" style="">
        <ul class="navbar-nav"></ul>
        <ul class="navbar-nav">
            @Html.Partial("_Login")
        </ul>
    </div>
</nav>