@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "InternalError";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<hr />
<div class="jumbotron">
    <div class="row align-items-center justify-content-center">
        <h1 class="text-center ">Opps! We messed up...</h1>
        <img src="~/Content/Images/panda500.gif" width="700" class="img" />
    </div>
    <br/>
    <div class="row align-items-center justify-content-center">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Store")'">Accept apologies and go home</button>
    </div>
</div>

