@model BOL.Orders.OrderRating
@{ 
    var rating = Model.Rating;
    var comment = Model.Comment;
}

<link rel="stylesheet" type="text/css" href="~/Content/starability-all.min.css" />

<div class="commentBox">
    <div class="form-horizontal replaceable">
        <div class="form-group">
            <label class="col-md-12">
                Order Rating:
            </label>
                <!-- Change starability-basic to different class to see animations. -->
                <p class="starability-result" style="left: 15px;" data-rating=@rating></p>
                <div class="col-md-12">
                    <p style="word-wrap: break-word">@comment</p>      
                </div>
        </div>
    </div>

</div>
