
<link rel="stylesheet" type="text/css" href="~/Content/starability-all.min.css" />
<div id="OrderRatingTable"></div>

<div class="commentBox">
        <div class="form-horizontal replaceable">
            <div class="form-group">
                <label class="col-md-12">
                    Order Rating:
                </label>
                <form name="RatingForm" id="ratingForm">
                    <!-- Change starability-basic to different class to see animations. -->
                    <fieldset class="starability-checkmark">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />

                        <input type="radio" id="rate1" name="rating" value="1" />
                        <label for="rate1" style="left: 15px;">1 star.</label>

                        <input type="radio" id="rate2" name="rating" value="2" />
                        <label for="rate2" style="left: 15px;">2 stars.</label>

                        <input type="radio" id="rate3" name="rating" value="3" />
                        <label for="rate3" style="left: 15px;">3 stars.</label>

                        <input type="radio" id="rate4" name="rating" value="4" />
                        <label for="rate4" style="left: 15px;">4 stars.</label>

                        <input type="radio" id="rate5" name="rating" value="5" />
                        <label for="rate5" style="left: 15px;">5 stars.</label>

                        <span class="starability-focus-ring"></span>
                    </fieldset>
                    <div class="col-md-12">
                        <p>Comment:</p>
                        <textarea name="Comment" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                    </div>
                    <input type="hidden" name="OrderId" value="@ViewBag.OrderId" />
                </form>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <p id ="inputChecker" class="text-danger"></p>
                    <input type="submit" id="btnRegister" name="btnRegister" value="Submit" class="btn btn-primary" onclick="SubmitForm()"/>
                    
                </div>
            </div>
        </div>

</div>
<p></p>



<script type="text/javascript">
    function SubmitForm() {

        var url = '@Url.Action("SetRating", "OrderHistory")';

        $.ajax({
            type: "POST",
            url: url,
            data: $("#ratingForm").serialize(),
            cache: false,
            dataType: 'html',
            success: function (response) {
                try {
                    var result = JSON.parse(response);
                    $("#inputChecker").html(result.ErrorMsg);
                }
                catch (e)
                {
                    document.getElementsByClassName("commentBox")[0].style.display = "none";
                    $("#OrderRatingTable").html(response);
                }   
            }
        });
    }
</script>  
