@model IEnumerable<BOL.Orders.Order>
@{
    ViewBag.Title = "Order History";
}
<h1>Order History</h1>

<h5>Choose an order:</h5>

<body onload="OptionChange()">

    @Html.DropDownList("OrderId",
                             new SelectList(Model, "Id", "DateTime"),
                             "Select Order",
                             new { @class = "form-control", @onchange = "OptionChange()" })

    <div id="OrderTable"></div>

</body>


<script type="text/javascript">
    function OptionChange() {
        var url = '@Url.Action("_OrderTable", "OrderHistory")';

        $.ajax({
            type: "POST",
            url: url,
            data: $('#OrderId').serialize(),
            cache: false,
            dataType: 'html',
            success: function (response) {
                $("#OrderTable").html(response);
            }
        });
    }
</script>