@model IEnumerable<BOL.Category>
@using System.Web.UI.WebControls
@using EShop.Models;

<h2>TreeView</h2>
<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
<div class="form-body">
    <div id="jstree">
        @(Html.TreeView(Model).EmptyContent("Items")
                                      .Children(m => m.Items)
                                      .HtmlAttributes(new { id = "tree" })
                                      .ChildrenHtmlAttributes(new { @class = "subItem" })
                                      .ItemText()
                                      .RootTemplate(@<text><a class="text-primary">@item</a></text>)
                                        .CategoryTemplate(@<text><a class="text-primary">@item.Name</a></text>)
                                            .ItemTemplate(@<text><a class="text-primary">@item.Name</a></text>))
    </div>

    <button id="btnsave" onclick="fncsave()">Save</button>
</div>
@section scripts
{
    <script src="~/Scripts/jsTree3/jstree.min.js"></script>
    <script>

        function fncsave() {
            var selectedItems = [];
            var selectedCategories = [];
            var selectedElms = $('#jstree').jstree("get_checked", true);
            $.each(selectedElms, function () {
                if (this.li_attr.hasOwnProperty('categoryid'))
                    selectedCategories.push(this.li_attr.categoryid)
                else if (this.li_attr.hasOwnProperty('itemid'))
                    selectedItems.push(this.li_attr.itemid);
            });
            $.ajax({
                type: "POST",
                traditional: true,
                url: "../Discounts/ChooseItems",
                data: { items: selectedItems}
            });
        }

        $(function () {
            var selectedData;
            $('#jstree').jstree({
                "core": {
                    "multiple": true,
                    "check_callback": false,
                    'themes': {
                        "responsive": true,
                        'variant': 'larg',
                        'stripes': false,
                        'dots': false
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["dnd", "state", "types", "sort", "checkbox"]
            });
        });
    </script>
}