@model EShop.Models.PaymentViewModel

@{
    ViewBag.Title = "Payment";
}

<h2>Information about payment</h2>
<p>*items and cost*</p>
<p>Status: @Model.Status</p>
<p>Additional info: @Model.PaymentDetails</p>
<p>*Go to all orders*</p>
<p>*Edit user info*</p>


