@model EShop.Models.PaymentViewModel

@{
    ViewBag.Title = "Payment";
}

<h2>Information about payment</h2>

<p>@Model.Status</p>
@if (@Model.PaymentDetails != "")
{
    <p>Additional info: @Model.PaymentDetails</p>
    <p>*Edit user info*</p>
}
@Html.ActionLink("Order History", "Index", "OrderHistory")



