@model IEnumerable<DOL.Category>


@foreach (var category in Model)
{

    <p class="btn">
        @Html.ActionLink(category.Name, "Browse", "Store", new { categoryId = category.Id }, null)
    </p>

}