
@{
    ViewBag.Title = "Index";
}

<h2>Admin main page</h2>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Item")'">View items</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Categories")'">View categories</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Users")'">View users</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("View", "Order")'">View orders</button>
