@{
    ViewBag.Title = "LoggedIn";
}
@{
    var customer = Session["Account"] as DOL.Accounts.Customer;
}
<h2>Hello customer @customer.Email</h2>

@Html.ActionLink("Order History", "Index", "OrderHistory")

