@{
    ViewBag.Title = "LoggedIn";
}
@{
    var customer = (string)Session["AccountEmail"];
}
<h2>Hello customer @customer</h2>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "OrderHistory")'">Order History</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Customer")'">Edit account information</button>

