@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<hr />
<div class="jumbotron">
    <h1 class="text-center ">Where is the page?</h1>
    <img src="~/Content/Images/panda404v2.png" class="img" />
</div>
