
@{
    ViewBag.Title = "Export";
}

<h2>Export</h2>
<p>Right after finish of the export, an information about it will be sent to your email</p>

@Html.ActionLink("Export items", "ExportItemsToFile", "Item", null, new { @class = "btn btn-primary" })